nav#leftmenuwide {
	display: flex;
	align-items: center;
	margin: 10px 8px;
	position: absolute;
	top: 60px;
	font-size: 18px;

	a {
		display: none;
	}

	@media screen and (min-width: 770px) {
		a {
			display: flex;
			margin-left: 30px;
			text-decoration: none;
			text-transform: uppercase;
			color: #b65e23;

			&:first-of-type {
				margin-left: 20px;
			}
		}
	}

	@media screen and (min-width: 985px) {
		top: 10px;
		left: 235px;
	}

	@media screen and (min-width: 1030px) {
		a {
			color: white;
		}
	}
}
